
h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund {
background-image: url(bg1.jpg);
background-size: cover;
background-position :center;
}

#Drawing_Book{
border-style:ridge;
background-color: cornsilk;
}
